* {
  margin: 0;
  box-sizing: border-box;
  font-family: montserrat;


}

#h0 {
  text-align: center;
  text-decoration: line-through 1px rgb(217, 255, 0);

  /* text-decoration: wavy; */
  padding-top: 40px;
  padding-bottom: 0px;
  text-shadow:
    0 0 7px #ffffff,
    0 0 10px #ffffff,
    0 0 35px #ffffff,
    0 0 42px rgb(255, 255, 255),
    0 0 82px rgb(255, 255, 255),
    0 0 92px rgb(255, 255, 255);
  font-size: 3.6em;
  font-weight: 600;
  /* font-variant: inherit; */
  color: #25525c;
  /* margin-bottom: 0%; */
}

body {
  background-color: rgb(148, 205, 232);
  text-align: center;
  font-size: x-large;
  height: 40em;
}


#main-container {
  background-color: #266674;
  min-height: 100px;
  min-width: 50vw;
  max-height: 100vh;
  height: fit-content;
  width: 80vw;
  display: flex;
  justify-content: flex-start;
  text-align: end;
  padding: 5px;
  align-self: center;
  border-radius: 0.7rem;
  position: relative;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
  margin: auto;
  margin-top: 40px;
  color: rgb(173, 119, 39);
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2rem;

}

#paragraph-box {
  background-color: #A1D6E2;
  color: #367b8a;
  margin: 2.5px;
  min-height: 4rem;
  border-radius: 0.5rem;
  text-align: left;
  padding: 1rem;
  margin-bottom: 0.5rem;
  line-height: 2rem;
  min-width: 2rem;
  width: fill;
  height: 5px;
  /* font-family: 'JetBrains Mono', monospace;  */
  overflow-y: scroll;
  scroll-behavior: inherit;
}




#input-field {
  font-size: x-large;
  color: #266674;
  background: none;
  outline: none;
  border: none;
  width: 100%;
  height: 0px;
  /* Use auto height to adjust based on content */
  /* max-height: 200px;  */
  overflow-y: auto;
}

#start-bttn {
  width: 100px;
  height: 50px;
  color: #1995AD;
  position: relative;
  margin: 10px;
  /* font-family: JetBrains Mono; */
  font-size: large;
  font-weight: 700;
  border: none;
  background-color: #A1D6E2;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
}

#stats-container {
  /* width: 620px; */
  width: fit-content;
  height: 200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px;
  column-gap: 25px;
  text-align: center;
  align-self: center;
  justify-items: center;
  margin: auto;
  margin-top: 10px;
  background-color: #1995AD;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.7);

}

#accuracy,
#time,
#wpm {
  background-color: #25525c;
  width: 100%;
  margin: 10px;
  border-radius: 5px;
  color: #A1D6E2;
  box-shadow: 3px 3px 2px rgba(255, 255, 255, 0.6);

  padding: 5px;
  /* font-family: JetBrains Mono; */
  font-weight: bold;
}

#wpm_con,
#time_con {
  height: 85%;
  padding: 20px;
  font-size: 5rem;
}

#acc_con {
  height: 85%;
  padding: 20px;
  font-size: 5rem;
}

#small-sec {
  font-size: 0.7rem;
}

.wrong {
  background-color: rgb(236, 75, 30);
}

.correct {
  color: rgb(43, 156, 43);
}

.background-fix {
  background-color: rgb(109, 93, 110);
}

.cursor-highlight {
  background-color: rgba(57, 54, 70, 0.4);
}

.space-wrong {
  background-color: Red;
}

.hidden {
  visibility: hidden;
}

.broken {
  background-color: red;
  color: green;
}

/* This is the animated background  */
html {
  height: 100%;
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, rgb(112, 234, 51) 50%, rgb(26, 142, 220) 50%);
  bottom: 0;
  left: -50%;
  opacity: .5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(25%);
  }
}

/* End of Animated background  */
